<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<link rel="stylesheet" href="style.css">

<div id="app">
  <button @click="changeTitle">
    Change title
  </button>
  <p>
    {{ title | uppercase | lowercase }}
  </p>
  <p>
    {{ message | uppercase }}
  </p>
  <input type="text" v-on:input="cssClass = $event.target.value"/>
  <p v-bind:class="cssClass">
    Class: {{ cssClass }}
  </p>
  <button @click="increment">
    Increment
  </button>
  <p>
    Counter: {{ counter }}
  </p>
  <p>
    Clicks: {{ clicks }}
  </p>
  <button @click="show = !show">
    Show / Hide
  </button>
  <p v-if="show">
    I'm part-time visible!
  </p>
  <p v-else>
    Am I visible?
  </p>
  <p v-show="show">
    Hooray, I'm here!
  </p>
  <hr>
  <ul>
    <li v-for="(person, index) in persons">
      {{ person.name }} - {{ index }}
    </li>
  </ul>
  <hr>
  <app-user></app-user>
</div>

<script type="text/javascript" src="script.js"></script>
