<template id="hello-world">
    <app-frame>
        <h1 class="hello-world">Hello, world!</h1>
    </app-frame>
</template>

<script>
    Vue.component("hello-world", {template: "#hello-world"});
</script>

<style>
    .hello-world {
        color: goldenrod;
    }
</style>