<template>
  <div id="registration">
    <h3>Register here</h3>
    <hr>
    <div class="row" v-for="user in users">
      <h4>{{ user.name }}</h4>
      <button @click="registerUser(user)">Register</button>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    users() {
      return this.$store.getters.unregistredUsers;
    }
  },
  methods: {
    registerUser(user) {
      this.$store.dispatch('register', user.id);
    }
  }
}
</script>

<style lang="css" scoped>
#registration {
  box-shadow: 1px 1px 2px 1px #ccc;
  margin: 20px;
  padding: 20px;
  display: inline-block;
}
</style>
